section#feature_area
{
	overflow: hidden;
	margin: 16px 0 0;
	padding: 0 0 10px;
}

section#feature_area article#blog_leadoff
{
	float: left;
	width: 66%;
}

section#feature_area article#blog_leadoff p
{
	padding: 2px 10px;
}

section#feature_area article#blog_leadoff img
{
	float: left;
	padding: 0 10px 10px 0;
}

section#feature_area article h4
{
	font-family: "Source Sans Pro", helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	color: #f58c21;
	letter-spacing: -.025em;
}

section#feature_area article h3
{
	/*博文标题*/
	font-family: Lato, helvetica, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.75em;
	color: #555;
	margin: 0px 0 12px 0px;
	letter-spacing: -.05em;
}

section#feature_area article#blog_leadoff p
{
	font-family: "Source Sans Pro", helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 1.5em;
	color: #616161;
	margin: 0 0px;
}

section#feature_area aside
{
	float: right;
	width: 34%;
}

section#feature_area article #inner
{
	padding: 10px;
	background: #fff;
	border-radius: 20px 0;
	box-shadow: 0 12px 8px -9px #555;
}

section#feature_area ariticle a
{
	text-decoration: none;
}

