form.signin
{
	width: 19em;
	float: right;
	background: #fff;
	border-radius: 10px 0 10px 0;
}

.signin fieldset
{
	border: 0;
	margin: 10px 14px;
}

.signin legend span
{
	font-family: Lato, helvetica, sans-serif;
	font-weight: 700;
	font-size: 1.3em;
	line-height: 1.1em;
	color: #4eb8ea;
	letter-spacing: -.05em;
}

.signin section
{
	overflow: hidden;
	padding: .25em 0;
}

.signin section label
{
	font-family: "Source Sans Pro", helvetica, sans-serif;
	font-weight: 400;
	float: left;
	width: 5em;
	margin: 0.5em .3em 0 0;
	line-height: 1.1;
	color: #555;
}

.signin section input
{
	float: right;
	width: 10.5em;
	margin: .3em 0 0 .5em;
	padding: 3px 10px 2px;
	color: #555;
	font-size: .8em;
	outline: none;
	border-radius: 10px 0 10px 0;
}

.signin section p
{
	float: right;
	clear: both;
	margin: .2em 0 0;
	text-align: right;
	font-size: .8em;
	line-height: 1;
	color: #555;
}

.signin section p a{
	color:#333;
}

.signin section p a:hover
{
	color:#777;
	text-decoration: none;
}

input:-webkit -autofill
{
	color: #fff !improtant;
}

.signin section input[type=submit]
{
	float: right;
	width: auto;
	font-size: 1em;
	font-weight: 800;
	margin: 0 2px 3px 0;
	padding: 0px 8px 3px;
	color: #fff;
	border: none;
	background-color: #D6E636;
	box-shadow: 1px 1px 2px #888;
}

.signin section p.direction{
	display: none;
}

